--only-binary=:all:

# ---- Flask Backend Core ----
Flask==3.0.3
Flask-Cors==4.0.0
Werkzeug==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1

# ---- PDF & Text Extraction ----
PyMuPDF==1.26.5

# ---- NLP & Embeddings ----
numpy==2.3.2
pandas==2.2.3
scikit-learn==1.6.0
tqdm==4.66.5
faiss-cpu==1.12.0
sentence-transformers==3.2.1

# ---- LangChain Utility ----
langchain-text-splitters==0.2.2

# ---- LLM Summarization ----
transformers==4.45.2
tokenizers==0.20.3
torch==2.5.1
accelerate==0.33.0
